{% extends 'base.html.twig' %}

{% block title %}
 Add Your wishes | {{ parent() }}
{% endblock %}

{% block body %}
    {% if wishForm.vars.value.id == null %}
        <h2>Add your whishes !</h2>
    {% else %}
        <h2>Update your whishes !</h2>
    {% endif %}

    {{ form_start(wishForm) }}
    {{ form_row(wishForm.title) }}
    {{ form_row(wishForm.description) }}
    {{ form_row(wishForm.category) }}
    <div class="d-flex">
        <div class="col-sm-9">
            {{ form_row(wishForm.image) }}
        </div>
        <div class="col-sm-3">
            {% if wishForm.vars.value.filename != null %}
                <img src="{{ asset(app_images_wish_directory ~ '/' ~ wishForm.vars.value.filename) }}" class="img-fluid" alt="image"/>
                {{ form_row(wishForm.deleteImage) }}
            {% endif %}
        </div>
    </div>
    {{ form_row(wishForm.isPublished) }}
    <button class="btn btn-sm btn-primary">{{ wishForm.vars.value.id == null ? 'Create' : 'Modify' }}</button>
    {{ form_end(wishForm) }}

{% endblock %}

