{% extends 'base.html.twig' %}

{% block title %}
    Titre de  l'idée ici | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card mt-2 mb-2 w-50 m-auto">
        <div class="card-body">
            <h5 class="card-title">{{ wish.title }}</h5>
            <p class="wish-credit">Created by {{ wish.author }} on {{ wish.dateCreated|date('Y-m-d') }}</p>
            <p class="card-text">{{ wish.description|nl2br }}</p>
        </div>
    </div>
{% endblock %}

