{% extends 'base.html.twig' %}

{% block title %}
    Titre de  l'idée ici | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card mt-2 mb-2 w-50 m-auto">
        {% if wish.filename %}
            <img src="{{ asset(app_images_wish_directory ~ '/' ~ wish.filename) }}"
            class="card-img-top img-fluid" alt="image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ wish.title }}</h5>
            <p class="card-text">[{{ wish.category.name }}]</p>
            <p class="wish-credit">Created by {{ wish.user.username }} on {{ wish.dateCreated|date('Y-m-d') }}</p>
            <p class="card-text">{{ wish.description|nl2br }}</p>
        </div>
        <div class="text-center">
            {% if app.user == wish.user or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('wish_delete',{'id':wish.id,'token':csrf_token('delete'~wish.id)}) }}"
                   class="btn btn-danger mt-2" title="Delete the wish">Delete</a>
            {% endif %}
            {% if app.user == wish.user %}
                <a href="{{ path('wish_update',{'id':wish.id}) }}"
                   class="btn btn-secondary mt-2" title="Modify the wish">Modify</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

