{% extends 'base.html.twig' %}

{% block title %}
    Titre de  l'idée ici | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card mt-2 mb-2 w-50 m-auto">
        <div class="card-body">
            <h5 class="card-title">{{ wish.title }}</h5>
            <p class="wish-credit">Created by {{ wish.author }} on {{ wish.dateCreated|date('Y-m-d') }}</p>
            <p class="card-text">{{ wish.description|nl2br }}</p>
        </div>
        <div class="text-center">
            <a href="{{ path('wish_delete',{'id':wish.id,'token':csrf_token('delete'~wish.id)}) }}"
               class="btn btn-danger mt-2" title="Delete the wish">Delete</a>
            <a href="{{ path('wish_update',{'id':wish.id}) }}"
               class="btn btn-secondary mt-2" title="Modify the wish">Modify</a>
        </div>
    </div>
{% endblock %}

